#pera{
    text-align: center;
    background-color: blue;
    color: white;

}

#nav{
    display: flex;
    justify-content: center;
    padding: 15px;
}

.p{
    padding: 10px;
}

.s{
    padding: 10px;
}

.m{
    padding: 10px;
}
